name: CI

on:
  workflow_dispatch:

  release:
    # this runs CI only when a release is created at first (and not when it is
    # edited or published)
    types: [created]

  push:
    branches: portable

  pull_request:
    branches: portable

jobs:
  build:
    name: Build WASM Postgres and libpglite native (host arch)
    runs-on: ubuntu-24.04
    env:
      SDKROOT: /tmp/sdk
      CONTAINER_PATH: /tmp/fs
      DEBUG: true
      USE_ICU: false
      PG_VERSION: 17.5
      PG_BRANCH: REL_17_5_WASM
      PGL_BRANCH: main
      ZIC: /usr/sbin/zic
      GETZIC: false

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Build postgresql+libpglite wasi with portable-sdk
        run: |
          sudo apt-get install libtalloc2 lz4
          rm -rf /tmp/fs/tmp/pglite/pg.wasi.installed /tmp/fs/tmp/pglite/share /tmp/fs/tmp/pglite/include /tmp/fs/tmp/pglite/lib
          WASI=true bash ./ci-alpine-proot.sh

      - name: Build libpglite native with portable-sdk
        run: |
          echo "WIP arch:"
          git clone --recursive --no-tags --depth 1 --single-branch --branch main https://github.com/electric-sql/pglite-bindings
          WASI=true NATIVE=true bash ./ci-alpine-proot.sh
          ./pglite-bindings/cpython-link-pglite.sh

      - name: Build postgresql+libpglite emscripten node+web with portable-sdk
        run: |
          rm -rf /tmp/fs/tmp/pglite/pg.emscripten.installed /tmp/fs/tmp/pglite/share /tmp/fs/tmp/pglite/include /tmp/fs/tmp/pglite/lib
          WASI=false bash ./ci-alpine-proot.sh

      - name: Upload sdk to Github Releases
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@2.9.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: /tmp/sdk/lib*.tar.gz
          file_glob: true
          tag: ${{ github.ref }}


      - name : "Upload to GitHub pages"
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          branch: gh-pages
          folder: /tmp/web
