name: CI

on:
  workflow_dispatch:

  release:
    # this runs CI only when a release is created at first (and not when it is
    # edited or published)
    types: [created]

  push:
    branches: portable

  pull_request:
    branches: portable

jobs:
  build:
    name: Build WASM Postgres
    runs-on: ubuntu-24.04
    env:
      SDKROOT: /tmp/sdk
      DEBUG: false
      USE_ICU: false
      PG_VERSION: 17.4
      PG_BRANCH: REL_17_4_WASM
      PGL_BRANCH: pmp-p/pglite-build17

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Build postgresql emscripten node+web via portable-sdk
        run: |
          bash ./ci-17_4_WASM.sh

      - name: Build postgresql wasi portable-sdk
        run: |
          WASI=true bash ./ci-17_4_WASM.sh

#      - name: Build libpglite native with portable-sdk
#        run: |
#       	  echo "WIP arch:"
#          bash -c arch

      - name: Upload sdk to Github Releases
        if: github.event_name == 'release'
        uses: svenstaro/upload-release-action@2.9.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: /tmp/sdk/lib*.tar.gz
          file_glob: true
          tag: ${{ github.ref }}


      - name : "Upload to GitHub pages"
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          branch: gh-pages
          folder: /tmp/web
